.app-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.app-dialog {
  z-index: 1000;
  position: absolute;
  right: 0;
  left: 0;
  top: 20px;
  margin-right: auto;
  margin-left: auto;
  min-height: 200px;
  width: 600px;
  height: 600px;
  background-color: #fff;
  padding: 12px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
}

@media (min-width: 768px) {
  .app-dialog {
    top: 40px;
  }
}

.app-dialog-command-btn {
  background: none;
  color: #2d2d2d;
  position: absolute;
  right: 20px;
  font-size: 1.2em;

}
.app-dialog-command-close-btn{
  @extend .app-dialog-command-btn;
  top: 1px;
  border: 0;
}
.app-dialog-command-confirm-btn{
  @extend .app-dialog-command-btn;
  bottom: 2px;
}
