html,
fieldet,
legend,
div,
span,
a,
form,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

#TotalFlowArea {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.main-flow-area {
  z-index: 999;
}

$MainSubjectAreaHeight : 0px;
#MainSubjectArea {
  height: $MainSubjectAreaHeight;
  background-color: lightsalmon;
}

$MainMenuBarHeight : 37px;
#MainMenuBar {
  height: $MainMenuBarHeight;
  background-color: lightgoldenrodyellow;
}

$MainFooterAreaHeight : 20px;

#MainDesignArea {
  top: $MainSubjectAreaHeight + $MainMenuBarHeight;
  left: 0px;
  right: 0px;
  bottom: $MainFooterAreaHeight;
  position: absolute;
  display: flex;
  height: auto;
}

#MainFooterArea {
  height: $MainFooterAreaHeight;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: lightsalmon;
}

#SlideToolBar {
  float: left;
  width: 110px;
  border-right-color: black;
  border-right-width: 2px;
  border-right-style: solid;
}

#FlowFrame {
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
}

#PropertyPanel {
  float: right;
  width: 250px;
  background-color: white;
  border-left-color: rgb(0, 0, 0);
  border-left-width: 2px;
  border-left-style: dotted; 
}

#FlowTemplateMenu {
  height: 28px;
  background-color: black;
}

#FlowChartParent {
  flex: 1;
  position: relative;
  overflow: auto;
}

#FlowChart {
  height: 100%;
}

.text-note {
  position: absolute;
  font-style: italic;
}

#TemplateNameNote {
  top: 0px;
  left: 5px;
}

.activity-tool,
.activity-tool-title {
  text-align: center;
  margin-bottom: 8px;
  color: dimgray;
}

.activity-tool-selected {
  font-weight: bold;
  font-style: italic;
  color: black;
  >img {
    border: 2px dotted black;
  }
}

#InputActivityNodeName {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 70px;
  border: 1px dotted gray;
  background: white;
  z-index: 1000;
  font-family: Verdana;
  font-size: 12px;
  display: none;
}

span.ui-dialog-title{ //改写PrimeNG的默认样式
  font-size: 1.2em !important;
}

.ui-dialog.ui-widget .ui-dialog-titlebar { //改写PrimeNG的默认样式
  padding: 0.5em 1.5em !important;
}